body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.contact-form {
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
}
.contact-form input,
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact-form textarea {
    height: 150px;
}
.contact-form input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color: blue;
}